{% extends "index.html" %}

{% block title %} {{form.nome.value}}{% endblock %}

{% block content %}
    <section class="cadastro">
        <h1 class="title">Dados cadadastrados do cliente:</h1>
        <h3 class="subtitle">Matrícula: {{consulta.id}} |     Nome: {{form.nome.value}} |     Criado em: {{consulta.created_at.day}}/{{consulta.created_at.month}}/{{consulta.created_at.year}}</h3>
        <hr>
        <br>
        <hgroup id="icones" style="display: flex; justify-content: center; align-items: center; gap: 18px;">
            <i class="fas fa-edit" style="cursor: pointer; color: green;font-size: 20px;" id="editar" onclick="stdin();" style="margin-top: 0px;"></i>
            <!--<p style="display:inline-block; position: relative; top: -27px; left: -35px;">Editar</p>-->
            <i class="fas fa-trash" style="cursor: pointer;color: darkred;left: 40px; font-size: 20px;" onclick="deletar({{consulta.id}});"></i>
            <!--<p style="display:inline-block; position: relative; top: -27px; left: 2px;">Deletar</p>-->
        </hgroup>
        <form method="post" autocomplete="off" class="formulario">
            {% csrf_token %}
            <div class="grid-container">
                <div class="grid-item">
                <label><strong>Nome</strong></label>
                {{form.nome}}
                </div>
                <div class="grid-item">
                <label><strong>Nascimento</strong></label>
                {{form.nascimento}}
                </div>
                <div class="grid-item">
                <label><strong>Email</strong></label>
                {{form.email}}
                </div>
                <div class="grid-item">
                    <label><strong> Telefone </strong></label>
                    {{form.telefone}}
                </div>
                <div class="grid-item">
                    <label><strong>Endereço</strong></label>
                    {{form.local}}
                </div>
                <div class="grid-item">
                    <label><strong>Nº/ Complemento</strong></label>
                    {{form.numero}}
                </div>
                <div class="grid-item">
                    <label><strong>Bairro</strong></label>
                    {{form.bairro}}
                </div>
                <div class="grid-item">
                    <label><strong>CEP</strong></label>
                    {{form.cep}}
                </div>
            </div>
            <div class="grid-container-center">
                <div class="grid-item">
                    <label><strong>Observações</strong></label>
                    {{form.obs}}
                </div>
            </div>
            <hr>
            <h1 class="title"> Dados do animal de estimação </h1>
            <h3 class="subtitle">Preencha os dados do animação</h3>
            <div class="dados-pet">
                <div class="grid-container">
                    <div class="grid-item">
                        <label><strong>Espécie </strong></label>
                        {{form.especie}}
                    </div>
                    <div class="grid-item">
                        <label><strong>Raça</strong></label>
                        {{form.raca}}
                    </div>
                    <div class="grid-item">
                        <label><strong>Porte</strong></label>
                        {{form.porte}}
                    </div>
                </div>
                <button type="button" class="botão" onclick="save()">Salvar</button>
            </div>
        </form>
        <script>
            input = document.querySelectorAll(".grid-container input");
            objeto = document.querySelector(".grid-container input")
            input.forEach((element) => {
                element.disabled = true
                element.style.backgroundColor = "#fff"
                element.style.color = "black"      
            });
        </script>
    </section>
{% endblock %}
